{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>BLOG IMERSÃO</title>
</head>

<body>
    <Header>
        BLOG IMERSÃO
    </Header>

    <main>


        <div class="tags">
            <Button>Alimentação</Button>
            <Button>Esporte</Button>
            <Button>Programação</Button>
        </div>

        <div class="posts">
            <div class="post">
                <h2>Titulo do post</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga soluta doloribus repellendus
                    aspernatur obcaecati fugit officia impedit? Ab veniam eos eius soluta. Aliquam in autem ad, facilis
                    illo assumenda dolorem?
                </p>
                <div class="post-footer">
                    <div>
                        <span>tag1</span>
                        <span>tag2</span>
                        <span>tag3</span>
                    </div>

                    <span>24/10/2024</span>
                </div>
            </div>
            <div class="post">
                <h2>Titulo do post</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga soluta doloribus repellendus
                    aspernatur obcaecati fugit officia impedit? Ab veniam eos eius soluta. Aliquam in autem ad, facilis
                    illo assumenda dolorem?
                </p>
                <div class="post-footer">
                    <div>
                        <span>tag1</span>
                        <span>tag2</span>
                        <span>tag3</span>
                    </div>

                    <span>24/10/2024</span>
                </div>
            </div>
            <div class="post">
                <h2>Titulo do post</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga soluta doloribus repellendus
                    aspernatur obcaecati fugit officia impedit? Ab veniam eos eius soluta. Aliquam in autem ad, facilis
                    illo assumenda dolorem?
                </p>
                <div class="post-footer">
                    <div>
                        <span>tag1</span>
                        <span>tag2</span>
                        <span>tag3</span>
                    </div>

                    <span>24/10/2024</span>
                </div>
            </div>


        </div>


    </main>

</body>

</html>